.no-comments {
    margin: 20px;
    color: $textColor;
}

.comments-section {
    border: 2px solid $outline;
    margin: 20px;
    #comments-title {
        margin: 20px;
        font-size: 18px;
        font-weight: 600;
        color: $outline;
        padding-top: 10px;
    }    
    .comments {
    margin: 20px;
    .comment-card {
        background-color: $backgroundMain;
        border: solid 2px $outline;
        padding: 10px;
        .card-header {
            font-weight: bold;
            font-size: 14px;
            color: $outline;
        }
        .card-body {
            color: $textColor;
            font-size: 14px;
            margin: 15px;
        }
        .comment-time {
            font-weight: bold;
            font-size: 12px;
            color: $outline;
        }
    }
}
}
