@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    @include flexCenter();
    flex-direction: column;
    div {
        margin: 10px;
        font-size: 20px;
        font-weight: 600;
        color: $outline;
    }
}