$navbar: #231546;
$textColor: #dad6d6;
$backgroundMain: #570606;
$titleColor: #050404;
$pictureOne: #121212;
$pictureTwo: #120b25;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    a {
        text-decoration: none;
    }
    .picture-one {
        @include flexCenter();
        height: 300px;
        padding: 50px 200px;
        background-color: $pictureOne;
        a {
          @include flexCenter();
          justify-content: space-between;
          width: 800px;
          &:hover {
              color: $textColor;
              .picture-text {
                  .text {
                      text-decoration: underline;
                  }
                  #caption {
                      display: block;
                      transition: .9s ease-in-out;
                      text-decoration: none;
                  }
              }
        }
        }
        .picture-text {
            width: 450px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            #caption {
                color: white;
                display: none;
                transition: .9s ease-in-out;
            }
        }
    }
    .picture-two {
        @include flexCenter();
        height: 300px;
        padding: 50px 200px;
        background-color: $pictureTwo;
        a {
          @include flexCenter();
          justify-content: space-between;
          width: 800px;
        }
        .picture-text {
            #caption {
                color: white;
            }
        }
    }

    .text {
        font-size: 48px;
        color: $textColor
    }
    .logo {
        height: 300px;
    }
    #esports-logo {
        border-radius: 20px;
    }
}

