$navbar: #e13939;
$outline: #ffd9d9;
$backgroundMain: #570606;
$titleColor: #050404;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    a {
        text-decoration: none;
    }
    .pictures {
        @include flexCenter();
        height: 300px;
        background-color: $navbar;
        margin: 30px;
        flex-direction: column;
        border: 3px solid $outline;
        &:hover {
            cursor: pointer;
            .text {
                text-decoration: underline;
            }
        }
    }
    .text {
        font-size: 48px;
        color: $titleColor;
    }
    .logo {
        height: 200px;
    }
    #esports-logo {
        border-radius: 20px;
    }
}
