$navbar: #e13939;
$outline: #ffd9d9;
$titleColor: #e4e4e4;
$backgroundMain: #570606;
$titleColor: #050404;
$loginSignup: #D89D9D;

// Change font of title to a more special one

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page {
    @include flexCenter();
    flex-direction: column;

    .main-title {
        font-size: 108px;
        color: $titleColor;
    }
    .signup-box {
        @include flexCenter();
        flex-direction: column;

        width: 400px;
        height: 400px;
        border: 2px solid $outline;
        border-radius: 10px;
        background-color: #863737;
        padding: 0px 20px;
        margin: 61px
    }
    .signup-option {
        @include flexCenter();
        color: $loginSignup;
        font-size: 36px;
        p {
            margin: 15px;
        }
        #toggle-signup {
            background-color: $backgroundMain;
            padding: 10px;
            border-radius: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        #toggle-login {
            cursor: pointer;
        }
    }
    .signup-information {
        padding: 5px;
        .signup-form {
            .first-and-last-name {
                display: flex;
                .firstname-text {
                    width: 167px;
                    border-radius: 20px;
                    margin: 3px;
                    height: 25px;
                    border: 2px solid $outline;
                    background-color: $loginSignup;
                    color: $outline;
                }
                ::placeholder {
                    color: $outline;
                }
                .lastname-text {
                    width: 170px;
                    border-radius: 20px;
                    margin: 3px;
                    height: 25px;
                    border: 2px solid $outline;
                    background-color: $loginSignup;
                    color: $outline;
                }
            }
            .email{
                .email-text {
                    width: 350px;
                    border-radius: 20px;
                    margin: 3px;
                    height: 25px;
                    border: 2px solid $outline;
                    background-color: $loginSignup;
                    color: $outline;
                }
                ::placeholder {
                    color: $outline;
                }
            }
            .password {
                .password-text {
                    width: 350px;
                    border-radius: 20px;
                    margin: 3px;
                    height: 25px;
                    border: 2px solid $outline;
                    background-color: $loginSignup;
                    color: $outline;
                }
                ::placeholder {
                    color: $outline;
                }
            }
            .phone-and-postcode {
                display: flex;
                .phone-text {
                    width: 196px;
                    border-radius: 20px;
                    margin: 3px;
                    height: 25px;
                    border: 2px solid $outline;
                    background-color: $loginSignup;
                    color: $outline;
                }
                .postcode-text {
                    width: 140px;
                    border-radius: 20px;
                    margin: 3px;
                    height: 25px;
                    border: 2px solid $outline;
                    background-color: $loginSignup;
                    color: $outline;
                }
                ::placeholder {
                    color: $outline;
                }
            }
            .street-address {
                .street-address-text {
                    width: 350px;
                    border-radius: 20px;
                    height: 25px;
                    border: 2px solid $outline;
                    background-color: $loginSignup;
                    color: $outline;
                }
                ::placeholder {
                    color: $outline;
                }
            }
        }
        }
        .signup-button {
            background-color: $loginSignup;
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 700;
            color: $outline;
            transition: .1s ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: $outline;
                color: $loginSignup;
                transition: .1s ease-in-out;
            }
        }
}