$navbar: #B15D5D;
$outline: #ffd9d9;
$titleColor: #e4e4e4;
$backgroundMain: linear-gradient(rgb(174, 9, 9), rgb(101, 2, 2));

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-page {
    color: $titleColor;
    font-size: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: $backgroundMain;
    div {
        margin: 5px
    }

    @include flexCenter();
}