@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: $backgroundGradient;
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%
}

.signup-page {
    @include flexCenter();
    flex-direction: column;
    height: 712px;

    .main-title {
        font-size: 108px;
        font-weight: 700;
        color: $outline;
        #sport-spot-logo {
            height: 300px
        }
    }
    .signup-box {
        @include flexCenter();
        flex-direction: column;
        .title {
            font-size: 26px;
            font-weight: 600;
            color: $outline;
        }
        .have-account {
            @include flexCenter();
            color: $outline;
            margin: 40px;
            a {
                color: $outline;
                margin-left: 5px;
            }
        }
        .error-message {
            color: $textColor;
        }
    }
    }
    .signup-information {
        padding: 5px;
        @include flexCenter();
        .signup-form {
            @include flexCenter();
            flex-direction: column;

            .username-box {
                .username-text {
                    border: 2px solid $outline;
                    margin: 3px;
                    border-radius: 10px;
                    height: 30px;
                    width: 300px;
                    background-color: $loginSignup;
                    color: $textColor;
                }
                ::placeholder {
                    color: white;
                }
            }
            .email-box {
                .email-text {
                    border: 2px solid $outline;
                    margin: 3px;
                    border-radius: 10px;
                    height: 30px;
                    width: 300px;
                    background-color: $loginSignup;
                    color: $textColor;
                }
                ::placeholder {
                    color: white;
                }
            }

            .password-box {
                .password-text {
                    border: 2px solid $outline;
                    margin: 3px;
                    border-radius: 10px;
                    height: 30px;
                    width: 300px;
                    background-color: $loginSignup;
                    color: $textColor;
                }
                ::placeholder {
                    color: white;
                }
            }

        }

        }
        .signup-button {
            background-color: $loginSignup;
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 700;
            color: $outline;
            transition: .1s ease-in-out;
            margin: 5px;
            border: 2px solid $outline;
            &:hover {
                cursor: pointer;
                background-color: $outline;
                color: $loginSignup;
                transition: .1s ease-in-out;
            }
        }
