.comment-page {
    .title {
        font-size: 24px;
        font-weight: bold;
        margin: 20px;
        color: $outline;
    }
    .post {
        background-color: $backgroundMain;
        margin: 20px;
        color: $outline;
        border: 2px solid $outline;
        padding: 10px;
    }
}