body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ae0909), to(#3c0303));
  background-image: linear-gradient(#ae0909, #3c0303);
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #B15D5D;
  border-bottom: 2px solid #ffd9d9;
}

.navbar-top .logo {
  font-size: 40px;
  color: #e4e4e4;
  font-weight: 700;
  border-left: #e4e4e4 3px solid;
  padding: 10px;
}

.navbar-top #hamburger {
  font-size: 60px;
  color: #e4e4e4;
  margin: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-radius: 10px;
  background-color: #B15D5D;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-top #hamburger:hover {
  cursor: pointer;
  background-color: #e4e4e4;
  color: #B15D5D;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#navbar-side {
  z-index: 20;
  position: absolute;
}

#navbar-side ul {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #e4e4e4;
  width: 200px;
  border-right: 2px solid #ffd9d9;
  border-bottom: 2px solid #ffd9d9;
}

#navbar-side ul li {
  list-style: none;
  padding: 20px;
  background-color: #B15D5D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#navbar-side ul li .navbar-icons {
  margin-right: 10px;
}

#navbar-side ul li:hover {
  background-color: #e4e4e4;
  color: #B15D5D;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.hidden {
  display: none;
}

.footer {
  background-color: #272727;
  color: #ebebeb;
  padding: 20px;
  font-size: 20px;
  border-top: solid 2px #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.homepage .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  background-color: #B15D5D;
  margin: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #ffd9d9;
}

.homepage .pictures:hover {
  cursor: pointer;
}

.homepage .pictures:hover .text {
  text-decoration: underline;
}

.homepage .text {
  font-size: 48px;
  color: #e4e4e4;
}

.homepage .logo {
  height: 200px;
}

.homepage #esports-logo {
  border-radius: 20px;
}

.football-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 50px 200px;
}

.football-page .left-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr 3fr 3fr;
      grid-template-rows: 1fr 3fr 3fr 3fr;
}

.football-page .right-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 3fr 3fr 1fr;
      grid-template-rows: 3fr 3fr 3fr 1fr;
}

.football-page .title {
  color: white;
  font-size: 108px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.football-page .pictures {
  background-color: #B15D5D;
  border: 4px solid #B15D5D;
  width: 500px;
  margin: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.football-page .pictures:hover {
  cursor: pointer;
}

.football-page .pictures #premiereleague-logo {
  width: 100%;
}

.football-page .pictures #laliga-logo {
  width: 50%;
}

.football-page .pictures #bundesliga-logo {
  width: 90%;
}

.football-page .pictures #ligueone-logo {
  width: 40%;
}

.football-page .pictures #seriea-logo {
  width: 100%;
}

.football-page .pictures #mls-logo {
  width: 50%;
}

.football-page .pictures .text {
  color: black;
}

.premiereleague-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr 4fr;
      grid-template-rows: 1fr 4fr 4fr;
  padding: 5%;
}

.premiereleague-page .title {
  color: #e4e4e4;
  font-size: 72px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premiereleague-page .trending {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 12fr;
      grid-template-rows: 1fr 12fr;
}

.premiereleague-page .trending .trending-title {
  font-size: 40px;
  color: #e4e4e4;
  padding-left: 20px;
}

.premiereleague-page .trending .trending-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[100];
      grid-template-columns: repeat(100, 1fr);
}

.premiereleague-page .trending .trending-cards .card {
  width: 400px;
  border: 2px solid #ffd9d9;
  background-color: #B15D5D;
  margin: 20px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.premiereleague-page .trending .trending-cards .card:hover {
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background-color: #ae0e00;
}

.premiereleague-page .trending .trending-cards .card .card-picture {
  width: 400px;
  height: 200px;
  background-color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premiereleague-page .trending .trending-cards .card .card-title {
  font-size: 30px;
  color: #e4e4e4;
  padding: 2px;
  border-top: solid 2px #ffd9d9;
}

.premiereleague-page .trending .trending-cards .card .card-time {
  font-size: 12px;
  font-weight: 600;
  color: #e4e4e4;
  margin: 0px 2px 2px 2px;
  padding-left: 2px;
}

.premiereleague-page .trending .trending-cards .card .card-description {
  color: #e4e4e4;
  margin: 8px 2px 2px 2px;
  padding: 2px;
  height: 250px;
}

.premiereleague-page .all {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 12fr;
      grid-template-rows: 1fr 12fr;
  margin-top: 40px;
}

.premiereleague-page .all .all-title {
  font-size: 40px;
  color: #e4e4e4;
  padding-left: 20px;
}

.premiereleague-page .all .all-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[100];
      grid-template-columns: repeat(100, 1fr);
}

.premiereleague-page .all .all-cards .card {
  width: 400px;
  border: 2px solid #ffd9d9;
  background-color: #B15D5D;
  margin: 20px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.premiereleague-page .all .all-cards .card:hover {
  cursor: pointer;
  background-color: #ae0e00;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.premiereleague-page .all .all-cards .card .card-picture {
  width: 400px;
  height: 200px;
  background-color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premiereleague-page .all .all-cards .card .card-title {
  font-size: 30px;
  color: #e4e4e4;
  padding: 2px;
  border-top: solid 2px #ffd9d9;
}

.premiereleague-page .all .all-cards .card .card-time {
  font-size: 12px;
  font-weight: 600;
  color: #e4e4e4;
  margin: 0px 2px 2px 2px;
  padding-left: 2px;
}

.premiereleague-page .all .all-cards .card .card-description {
  color: #e4e4e4;
  margin: 8px 2px 2px 2px;
  padding: 2px;
  height: 250px;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .main-title {
  font-size: 108px;
  color: #050404;
}

.login-page .signup-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 400px;
  border: 2px solid #ffd9d9;
  border-radius: 10px;
  background-color: #863737;
  padding: 0px 20px;
  margin: 61px;
}

.login-page .signup-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D89D9D;
  font-size: 36px;
}

.login-page .signup-option p {
  margin: 15px;
}

.login-page .signup-option #toggle-signup {
  background-color: linear-gradient(red, blue);
  padding: 10px;
  border-radius: 10px;
}

.login-page .signup-option #toggle-signup:hover {
  cursor: pointer;
}

.login-page .signup-option #toggle-login {
  cursor: pointer;
}

.login-page .signup-information {
  padding: 5px;
}

.login-page .signup-information .signup-form .first-and-last-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-page .signup-information .signup-form .first-and-last-name .firstname-text {
  width: 167px;
  border-radius: 20px;
  margin: 3px;
  height: 25px;
  border: 2px solid #ffd9d9;
  background-color: #D89D9D;
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .first-and-last-name ::-webkit-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .first-and-last-name :-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .first-and-last-name ::-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .first-and-last-name ::placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .first-and-last-name .lastname-text {
  width: 170px;
  border-radius: 20px;
  margin: 3px;
  height: 25px;
  border: 2px solid #ffd9d9;
  background-color: #D89D9D;
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .email .email-text {
  width: 350px;
  border-radius: 20px;
  margin: 3px;
  height: 25px;
  border: 2px solid #ffd9d9;
  background-color: #D89D9D;
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .email ::-webkit-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .email :-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .email ::-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .email ::placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .password .password-text {
  width: 350px;
  border-radius: 20px;
  margin: 3px;
  height: 25px;
  border: 2px solid #ffd9d9;
  background-color: #D89D9D;
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .password ::-webkit-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .password :-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .password ::-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .password ::placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .phone-and-postcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-page .signup-information .signup-form .phone-and-postcode .phone-text {
  width: 196px;
  border-radius: 20px;
  margin: 3px;
  height: 25px;
  border: 2px solid #ffd9d9;
  background-color: #D89D9D;
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .phone-and-postcode .postcode-text {
  width: 140px;
  border-radius: 20px;
  margin: 3px;
  height: 25px;
  border: 2px solid #ffd9d9;
  background-color: #D89D9D;
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .phone-and-postcode ::-webkit-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .phone-and-postcode :-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .phone-and-postcode ::-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .phone-and-postcode ::placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .street-address .street-address-text {
  width: 350px;
  border-radius: 20px;
  height: 25px;
  border: 2px solid #ffd9d9;
  background-color: #D89D9D;
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .street-address ::-webkit-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .street-address :-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .street-address ::-ms-input-placeholder {
  color: #ffd9d9;
}

.login-page .signup-information .signup-form .street-address ::placeholder {
  color: #ffd9d9;
}

.login-page .signup-button {
  background-color: #D89D9D;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #ffd9d9;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.login-page .signup-button:hover {
  cursor: pointer;
  background-color: #ffd9d9;
  color: #D89D9D;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
/*# sourceMappingURL=style.css.map */