.loader {
  background-color: #180e2f;
  height: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.homepage a {
  text-decoration: none;
}

.homepage .picture-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 300px;
  padding: 20px 100px;
  margin: 20px 20px;
}

.homepage .picture-one a {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#19191d), to(#22173d));
  background-image: linear-gradient(to bottom right, #19191d, #22173d);
  padding: 30px;
  width: 1000px;
  border: 5px solid #8c799e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .picture-one a:hover {
  color: #ffffff;
}

.homepage .picture-one a:hover .picture-text .text {
  text-decoration: underline;
}

.homepage .picture-one a:hover .picture-text #caption {
  display: block;
  text-decoration: none;
}

.homepage .picture-one .picture-text {
  width: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  row-gap: 10px;
}

.homepage .picture-one .picture-text #caption {
  color: white;
  display: none;
}

.homepage .picture-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 300px;
  padding: 70px 100px;
  margin: 20px 20px;
}

.homepage .picture-two a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  width: 1000px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#19191d), to(#22173d));
  background-image: linear-gradient(to bottom right, #19191d, #22173d);
  border: 5px solid #8c799e;
}

.homepage .picture-two a:hover {
  color: #ffffff;
}

.homepage .picture-two a:hover .picture-text .text {
  text-decoration: underline;
}

.homepage .picture-two a:hover .picture-text #caption {
  display: block;
  text-decoration: none;
}

.homepage .picture-two .picture-text {
  width: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  row-gap: 10px;
}

.homepage .picture-two .picture-text #caption {
  color: white;
  display: none;
}

.homepage .text {
  font-size: 48px;
  color: #ffffff;
}

.homepage .logo {
  height: 300px;
}

.homepage #esports-logo {
  border-radius: 20px;
}

.homepage #mlb-logo {
  width: 500px;
}

.homepage #olympics-logo {
  width: 480px;
}

.homepage #icehockey-logo {
  margin-left: 0px;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 713px;
}

.login-page .main-title {
  font-size: 108px;
  font-weight: 700;
  color: #8c799e;
}

.login-page .main-title #sport-spot-logo {
  height: 300px;
}

.login-page .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.login-page .login-box .title {
  font-size: 26px;
  font-weight: 600;
  color: #8c799e;
}

.login-page .login-box .no-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px;
  color: #8c799e;
}

.login-page .login-box .no-account a {
  color: #8c799e;
  padding-left: 5px;
}

.login-page .login-box .error-message {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .login-form .email-text {
  border: 2px solid #8c799e;
  margin: 3px;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  background-color: #222222;
  color: #ffffff;
}

.login-page .login-form .email-text ::-webkit-input-placeholder {
  color: #ffffff;
}

.login-page .login-form .email-text :-ms-input-placeholder {
  color: #ffffff;
}

.login-page .login-form .email-text ::-ms-input-placeholder {
  color: #ffffff;
}

.login-page .login-form .email-text ::placeholder {
  color: #ffffff;
}

.login-page .login-form .password-text {
  border: 2px solid #8c799e;
  margin: 3px;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  background-color: #222222;
  color: #ffffff;
}

.login-page .login-form ::-webkit-input-placeholder {
  color: #ffffff;
}

.login-page .login-form :-ms-input-placeholder {
  color: #ffffff;
}

.login-page .login-form ::-ms-input-placeholder {
  color: #ffffff;
}

.login-page .login-form ::placeholder {
  color: #ffffff;
}

.login-button {
  background-color: #222222;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #8c799e;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  margin: 5px;
  border: 2px solid #8c799e;
}

.login-button:hover {
  cursor: pointer;
  background-color: #8c799e;
  color: #222222;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#141415), to(#22173d));
  background-image: linear-gradient(to bottom right, #141415, #22173d);
  z-index: -1;
  font-family: monospace;
  padding: 0;
  margin: 0;
  height: 100%;
}

.signup-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 712px;
}

.signup-page .main-title {
  font-size: 108px;
  font-weight: 700;
  color: #8c799e;
}

.signup-page .main-title #sport-spot-logo {
  height: 300px;
}

.signup-page .signup-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-page .signup-box .title {
  font-size: 26px;
  font-weight: 600;
  color: #8c799e;
}

.signup-page .signup-box .have-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8c799e;
  margin: 40px;
}

.signup-page .signup-box .have-account a {
  color: #8c799e;
  margin-left: 5px;
}

.signup-page .signup-box .error-message {
  color: #ffffff;
}

.signup-information {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-information .signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-information .signup-form .username-box .username-text {
  border: 2px solid #8c799e;
  margin: 3px;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  background-color: #222222;
  color: #ffffff;
}

.signup-information .signup-form .username-box ::-webkit-input-placeholder {
  color: white;
}

.signup-information .signup-form .username-box :-ms-input-placeholder {
  color: white;
}

.signup-information .signup-form .username-box ::-ms-input-placeholder {
  color: white;
}

.signup-information .signup-form .username-box ::placeholder {
  color: white;
}

.signup-information .signup-form .email-box .email-text {
  border: 2px solid #8c799e;
  margin: 3px;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  background-color: #222222;
  color: #ffffff;
}

.signup-information .signup-form .email-box ::-webkit-input-placeholder {
  color: white;
}

.signup-information .signup-form .email-box :-ms-input-placeholder {
  color: white;
}

.signup-information .signup-form .email-box ::-ms-input-placeholder {
  color: white;
}

.signup-information .signup-form .email-box ::placeholder {
  color: white;
}

.signup-information .signup-form .password-box .password-text {
  border: 2px solid #8c799e;
  margin: 3px;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  background-color: #222222;
  color: #ffffff;
}

.signup-information .signup-form .password-box ::-webkit-input-placeholder {
  color: white;
}

.signup-information .signup-form .password-box :-ms-input-placeholder {
  color: white;
}

.signup-information .signup-form .password-box ::-ms-input-placeholder {
  color: white;
}

.signup-information .signup-form .password-box ::placeholder {
  color: white;
}

.signup-button {
  background-color: #222222;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #8c799e;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  margin: 5px;
  border: 2px solid #8c799e;
}

.signup-button:hover {
  cursor: pointer;
  background-color: #8c799e;
  color: #222222;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.football-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 50px 200px;
}

.football-page .left-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr 3fr 3fr;
      grid-template-rows: 1fr 3fr 3fr 3fr;
}

.football-page .right-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 3fr 3fr 1fr;
      grid-template-rows: 3fr 3fr 3fr 1fr;
}

.football-page .title {
  color: white;
  font-size: 108px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.football-page .pictures {
  background-color: #180e2f;
  border: 4px solid #8c799e;
  width: 500px;
  margin: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.football-page .pictures a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.football-page .pictures a #hover-text, .football-page .pictures a #hover-text-two, .football-page .pictures a #hover-text-three, .football-page .pictures a #hover-text-four, .football-page .pictures a #hover-text-five, .football-page .pictures a #hover-text-six {
  position: absolute;
  background-color: rgba(70, 69, 70, 0.7);
  font-size: 28px;
  color: #ffffff;
  height: 66%;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.football-page .pictures a .hidden {
  opacity: 0;
}

.football-page .pictures:hover {
  cursor: pointer;
}

.football-page .pictures #premiereleague-logo {
  width: 100%;
}

.football-page .pictures #laliga-logo {
  width: 50%;
}

.football-page .pictures #bundesliga-logo {
  width: 90%;
}

.football-page .pictures #ligueone-logo {
  width: 40%;
}

.football-page .pictures #seriea-logo {
  width: 100%;
}

.football-page .pictures #mls-logo {
  width: 50%;
}

.football-page .pictures .text {
  color: black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer div {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #8c799e;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #180e2f;
  border-bottom: 2px solid #8c799e;
}

.navbar a {
  text-decoration: none;
  color: #8c799e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar #hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  background-color: #180e2f;
  color: #8c799e;
  border: 2px solid #8c799e;
  border-radius: 5px;
  margin: 10px 0px 10px 10px;
}

.navbar #hamburger:hover {
  background-color: #8c799e;
  color: #180e2f;
  cursor: pointer;
}

.navbar .title {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
}

.navbar .sport-spot-logo {
  height: 70px;
  margin-left: 20px;
  padding: 10px 10px 10px 20px;
  border-left: 2px solid #8c799e;
}

#navbar-side {
  z-index: 20;
  position: absolute;
}

#navbar-side ul {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #050404;
  width: 200px;
  border-right: 2px solid #8c799e;
  border-bottom: 2px solid #8c799e;
}

#navbar-side ul a {
  text-decoration: none;
  color: #8c799e;
}

#navbar-side ul li {
  list-style: none;
  padding: 20px;
  background-color: #180e2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background-color: #180e2f;
  color: #8c799e;
}

#navbar-side ul li .navbar-icons {
  margin-right: 10px;
  text-decoration: none;
}

#navbar-side ul li .navbar-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar-side ul li:hover {
  background-color: #8c799e;
  color: #180e2f;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.hidden {
  display: none;
}

.card-page {
  padding: 30px;
}

.thought-list-page .title {
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0px 0px 20px;
  color: #8c799e;
}

.thought-list-page .thought-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  font-size: 12px;
}

.thought-list-page .thought-list .card {
  background-color: #280234;
  color: #ffffff;
  margin: 20px;
  height: 300px 1000px;
  border: 2px solid #8c799e;
  padding: 10px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.thought-list-page .thought-list .card .thought-text {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.thought-list-page .thought-list .card a {
  background-color: #180e2f;
  border: 2px solid #8c799e;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.thought-list-page .thought-list .card a:hover {
  cursor: pointer;
  border: 2px solid #180e2f;
  background-color: #8c799e;
  color: #180e2f;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.comments {
  margin: 20px;
}

.comments .comment-title {
  font-size: 24px;
  font-weight: 600;
  color: #8c799e;
  margin-bottom: 10px;
}

.comments .comment-form .comment-box .comment-text-box {
  width: 100%;
}

.comments .comment-form .character-count p {
  color: #8c799e;
  font-size: 12px;
}

.comments .comment-form .character-count p .error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comments .comment-form .add-comment-button {
  background-color: #280234;
  color: #8c799e;
  border: 2px solid #8c799e;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.comments .comment-form .add-comment-button:hover {
  background-color: #8c799e;
  color: #280234;
  cursor: pointer;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.comments .not-logged-in {
  color: #ffffff;
}

.comments .not-logged-in a {
  color: #8c799e;
}

.no-comments {
  margin: 20px;
  color: #ffffff;
}

.comments-section {
  border: 2px solid #8c799e;
  margin: 20px;
}

.comments-section #comments-title {
  margin: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #8c799e;
  padding-top: 10px;
}

.comments-section .comments {
  margin: 20px;
}

.comments-section .comments .comment-card {
  background-color: #280234;
  border: solid 2px #8c799e;
  padding: 10px;
}

.comments-section .comments .comment-card .card-header {
  font-weight: bold;
  font-size: 14px;
  color: #8c799e;
}

.comments-section .comments .comment-card .card-body {
  color: #ffffff;
  font-size: 14px;
  margin: 15px;
}

.comments-section .comments .comment-card .comment-time {
  font-weight: bold;
  font-size: 12px;
  color: #8c799e;
}

.comment-page .title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  color: #8c799e;
}

.comment-page .post {
  background-color: #280234;
  margin: 20px;
  color: #ffffff;
  border: 2px solid #8c799e;
  padding: 10px;
}

.show-add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-add-box #show-add {
  background-color: #280234;
  width: 200px;
  color: #8c799e;
  padding: 10px;
  border: 2px solid #8c799e;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-add-box #show-add:hover {
  cursor: pointer;
  background-color: #8c799e;
  color: #280234;
  border: 2px solid #280234;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#summary-box {
  background-color: #280234;
  padding: 10px;
  border: 2px solid #280234;
}

#summary-box .summary-title {
  font-size: 20px;
  font-weight: bold;
  color: #8c799e;
}

#summary-box .summary-text-box .summary-text {
  width: 100%;
  margin: 10px 0px;
}

#summary-box .summary-text-box .character-count {
  font-size: 12px;
  color: #8c799e;
}

#summary-box .summary-text-box .add-summary-button {
  background-color: #8c799e;
  color: #280234;
  font-weight: bold;
  border: none;
  padding: 8px;
  border-radius: 10px;
  margin: 10px 0px;
  border: 2px solid #8c799e;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

#summary-box .summary-text-box .add-summary-button:hover {
  cursor: pointer;
  background-color: #280234;
  color: #8c799e;
  border: 2px solid #8c799e;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

#summary-box .not-logged-in {
  color: #ffffff;
}

#summary-box .not-logged-in a {
  color: #8c799e;
  text-decoration: none;
}

.hidden {
  display: none;
}

.not-found-page {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 24px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#141415), to(#22173d));
  background-image: linear-gradient(to bottom right, #141415, #22173d);
  color: #8c799e;
  font-weight: 600;
}

.settings-page .title {
  color: #ffffff;
  font-size: 36px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings-page .options .theme {
  font-size: 20px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */