body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  background-color: #e13939;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #810404;
  border-bottom: 2px solid #ffd9d9;
}

.navbar-top .logo {
  font-size: 40px;
  color: #e4e4e4;
  font-weight: 700;
  border-left: #e4e4e4 3px solid;
  padding: 10px;
}

.navbar-top #hamburger {
  font-size: 60px;
  color: #e4e4e4;
  margin: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-radius: 10px;
  background-color: #810404;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-top #hamburger:hover {
  cursor: pointer;
  background-color: #e4e4e4;
  color: #810404;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#navbar-side {
  z-index: 20;
  position: absolute;
}

#navbar-side ul {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #e4e4e4;
  width: 200px;
  border-right: 2px solid #ffd9d9;
  border-bottom: 2px solid #ffd9d9;
}

#navbar-side ul li {
  list-style: none;
  padding: 20px;
  background-color: #810404;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#navbar-side ul li .navbar-icons {
  margin-right: 10px;
}

#navbar-side ul li:hover {
  background-color: #e4e4e4;
  color: #810404;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.hidden {
  display: none;
}

.footer {
  background-color: #272727;
  color: #ebebeb;
  padding: 20px;
  font-size: 20px;
  border-top: solid 2px #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.homepage .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  background-color: #810404;
  margin: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #ffd9d9;
}

.homepage .pictures:hover {
  cursor: pointer;
}

.homepage .pictures:hover .text {
  text-decoration: underline;
}

.homepage .text {
  font-size: 48px;
  color: #e4e4e4;
}

.homepage .logo {
  height: 200px;
}

.homepage #esports-logo {
  border-radius: 20px;
}

.football-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 50px 200px;
}

.football-page .left-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr 3fr 3fr;
      grid-template-rows: 1fr 3fr 3fr 3fr;
}

.football-page .right-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 3fr 3fr 1fr;
      grid-template-rows: 3fr 3fr 3fr 1fr;
}

.football-page .title {
  color: white;
  font-size: 108px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.football-page .pictures {
  background-color: #810404;
  border: 4px solid #810404;
  width: 500px;
  margin: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.football-page .pictures:hover {
  cursor: pointer;
}

.football-page .pictures #premiereleague-logo {
  width: 100%;
}

.football-page .pictures #laliga-logo {
  width: 50%;
}

.football-page .pictures #bundesliga-logo {
  width: 90%;
}

.football-page .pictures #ligueone-logo {
  width: 40%;
}

.football-page .pictures #seriea-logo {
  width: 100%;
}

.football-page .pictures #mls-logo {
  width: 50%;
}

.football-page .pictures .text {
  color: black;
}

.premiereleague-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr 4fr;
      grid-template-rows: 1fr 4fr 4fr;
  padding: 5%;
}

.premiereleague-page .title {
  color: #e4e4e4;
  font-size: 72px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premiereleague-page .trending {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 12fr;
      grid-template-rows: 1fr 12fr;
}

.premiereleague-page .trending .trending-title {
  font-size: 40px;
  color: #e4e4e4;
  padding-left: 20px;
}

.premiereleague-page .trending .trending-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[100];
      grid-template-columns: repeat(100, 1fr);
}

.premiereleague-page .trending .trending-cards .card {
  width: 400px;
  border: 2px solid #ffd9d9;
  background-color: #810404;
  margin: 20px;
}

.premiereleague-page .trending .trending-cards .card:hover {
  cursor: pointer;
}

.premiereleague-page .trending .trending-cards .card .card-picture {
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premiereleague-page .trending .trending-cards .card .card-title {
  font-size: 30px;
  color: #e4e4e4;
  padding: 2px;
  border-top: solid 2px #ffd9d9;
}

.premiereleague-page .trending .trending-cards .card .card-time {
  font-size: 12px;
  font-weight: 600;
  color: #e4e4e4;
  margin: 0px 2px 2px 2px;
  padding-left: 2px;
}

.premiereleague-page .trending .trending-cards .card .card-description {
  color: #e4e4e4;
  margin: 8px 2px 2px 2px;
  padding: 2px;
  height: 250px;
}

.premiereleague-page .all {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 12fr;
      grid-template-rows: 1fr 12fr;
  margin-top: 40px;
}

.premiereleague-page .all .all-title {
  font-size: 40px;
  color: #e4e4e4;
  padding-left: 20px;
}

.premiereleague-page .all .all-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[100];
      grid-template-columns: repeat(100, 1fr);
}

.premiereleague-page .all .all-cards .card {
  width: 400px;
  border: 2px solid #ffd9d9;
  background-color: #810404;
  margin: 20px;
}

.premiereleague-page .all .all-cards .card:hover {
  cursor: pointer;
}

.premiereleague-page .all .all-cards .card .card-picture {
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.premiereleague-page .all .all-cards .card .card-title {
  font-size: 30px;
  color: #e4e4e4;
  padding: 2px;
  border-top: solid 2px #ffd9d9;
}

.premiereleague-page .all .all-cards .card .card-time {
  font-size: 12px;
  font-weight: 600;
  color: #e4e4e4;
  margin: 0px 2px 2px 2px;
  padding-left: 2px;
}

.premiereleague-page .all .all-cards .card .card-description {
  color: #e4e4e4;
  margin: 8px 2px 2px 2px;
  padding: 2px;
  height: 250px;
}
/*# sourceMappingURL=style.css.map */