$navbar: #161616;
$outline: #9f9f9f;
$backgroundMain: #2e2e2e;
$titleColor: #050404;
$textColor: #ffffff;
$loginSignup: #222222;
$hoverColor: #121212;
$backgroundGradient: rgb(16, 16, 16);
$navbarGradient: linear-gradient(to bottom, rgb(28, 28, 28), rgb(44, 44, 44));
$pictureGradient: rgb(38, 38, 38);

@import "./homepage";
@import "./login";
@import "./signup";
@import "./footballPage";
@import "./footer";
@import "./header";
@import "./cardPage";
@import "./thoughtList";
@import "./commentForm";
@import "./commentList";
@import "./singleThought";
@import "./thoughtForm";
@import "./notFound";
